* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}

body {
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}

.conteiner {  
    width: 1100px;
    height: 750px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 80px;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 20px;  
}

header {
    text-align: center;
}

#logo {
    width: 210px;
}

#titolo {
    color: rgb(38, 225, 18);
    margin: 5px;    
}

.container-pulsanti {
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: rgb(38, 225, 18);
    vertical-align: middle;
    line-height: 40px;
    text-align: center;       
}

.option {
    margin-top: 15px;
}

.name {
    margin-left: 3px;
}

.subject {
    font-size: 22px;
    color: gainsboro;
}

.body {
    display: block;
    color: white;
}

.carica-1 {
    width: 32%;
    border: 12px solid rgb(255, 187, 60);
    border-radius: 5px;    
}

.carica-2 {
    width: 55%;
    border: 12px solid rgb(0, 200, 0);
    border-radius: 5px;    
}

.carica-3 {
    width: 12%;
    border: 12px solid rgb(191, 47, 47);
    border-radius: 5px;    
}